@font-face {
  font-family:'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
 }

@font-face {
  font-family:'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto-Bold'),
    url('../fonts/roboto-700.woff2') format('woff2'),
    url('../fonts/roboto-700.woff') format('woff');
}

body {
  margin: auto;
  padding: 0;

  background-color: #f1f1f1;

  font-family: 'Roboto', 'Arial', sans-serif; 
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: black;
  }

a {
  text-decoration: none;
  color: black;
}

.main-header {
  width: 100%;

  margin: 0;
  padding: 0;

  /*min-height: 149px; временно для сетки*/
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 1146px;

  margin: 0 auto;
  padding: 40px 0;
}

.main-header-logo {
  width: 160px;
  height: 69px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  width: 890px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-link {
  font-weight: 700;
  padding: 10px 10px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #4682B4;
  /*border: 3px solid #87CEFA;*/
  outline: none;
}

.features {
  width: 100%;
  min-height: 320px;

  background: radial-gradient(50% 50% at 50% 50%, 
  rgba(135, 206, 250, 0) 0%, #87CEFA 96.15%);
}

.features-wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding-top: 20px;
  max-width: 1146px;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 40px;
  max-width: 566px;
  max-height: 220px;
}

.features-subtitle {
  font-weight: 700;
  font-size: 30px;

  margin: 0; /*временно*/
}

.features-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: center;

  margin: 0; /*временно*/
  
  color: rgba(0, 0, 0, 0.6);
}

.features-link {
  padding: 11px 26px;

  background: #4682B4;
  border-radius: 30px;
  border: none;

  font-weight: 700;
  font-size: 24px;  
  line-height: 28px;

  color: #F1F1F1;
}

.features-link:hover,
.features-link:focus {
  background: #f1f1f1;
  color: #4682B4;
  outline: none;
}

.features-btn a { 
  font-weight: 700;
  font-size: 24px;
  color: #F1F1F1;
}

.services {
  width: 100%;
  min-height: 850px;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1146px;
  min-height: 646px;
  margin: 0 auto;
  padding-top: 60px;
}

.services-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-top: 60px;
}

.services-subject {
  font-weight: 700;
  font-size: 36px;

  margin: 0;

  color: #4682B4;
}

.services-box { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 355px;
  
  background: white;
  box-shadow: 4px 6px 10px #4682B4;
  border-radius: 30px;
}

.services-subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 19px 0;

  color: #4682B4;
}

.services-text {
  margin: 10px 30px;

  text-align: center;
  line-height: 20px;
}

.services-link {
  display: flex;
  height: 60px;
  border-top: 3px solid #4682B4;
  border-radius: 0 0 29px 29px;
}

.services-link a{
  padding: 18px 115px;

  font-weight: 700;
  font-size: 24px;

  color: #4682B4;
  border-radius: 0 0 29px 29px;
}

.services-link:hover,
.services-link:focus,
.services-link a:hover,
.services-link a:focus {
  background-color: #4682B4;
  color: white;
  outline: none;
}